<style>
  .intro-section {
    text-align: center;
    color: white;
    padding: 20px;
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .product-category {
    width: 200px;
  }
  .search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color: rgb(255, 255, 225, 0.5);
    color: white;
  }
  .form-control {
    background-color: transparent;
    color: white;
  }
  .form-control::placeholder {
    color: rgba(255, 255, 225, 0.5);
    opacity: 1;
  }
  .product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .product-name {
    color: white;
  }
  .product-description {
    color: rgb(173, 178, 203);
  }
  .product-warranty {
    color: rgb(242, 126, 212);
  }
  .product-price {
    color: white;
  }
  .product-rating {
    color: #ffd700;
    margin-top: 10px;
  }
  .product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .space {
    margin: 0 5px;
  }
</style>

<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Home</h1>
  </div>

  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tim san pham"
    />

    <select class="form-control product-category">
      <option selected disabled>Danh muc san pham</option>
      <option>Do dien tu</option>
      <option>Banh keo</option>
      <option>Hai san</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          class="product-image"
          src="https://images.pexels.com/photos/4050334/pexels-photo-4050334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
        <p class="product-warranty">Bao hanh : 12 thang</p>
        <p class="product-price">Gia : 100 $</p>
        <div class="product-rating">
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Them vao gio hang</button>
          <span class="space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          class="product-image"
          src="https://images.pexels.com/photos/4050334/pexels-photo-4050334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
        <p class="product-warranty">Bao hanh : 12 thang</p>
        <p class="product-price">Gia : 100 $</p>
        <div class="product-rating">
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Them vao gio hang</button>
          <span class="space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          class="product-image"
          src="https://images.pexels.com/photos/4050334/pexels-photo-4050334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
        <p class="product-warranty">Bao hanh : 12 thang</p>
        <p class="product-price">Gia : 100 $</p>
        <div class="product-rating">
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Them vao gio hang</button>
          <span class="space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          class="product-image"
          src="https://images.pexels.com/photos/4050334/pexels-photo-4050334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet,consectetur adipiscing elit.
        </p>
        <p class="product-warranty">Bao hanh : 12 thang</p>
        <p class="product-price">Gia : 100 $</p>
        <div class="product-rating">
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star"></i>
          <i class="fa fa-light fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Them vao gio hang</button>
          <span class="space"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>