<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Trang chu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thong bao</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-solid fa-cart-shopping"></i>
                Gio Hang
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Dang nhap</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>